/** Now Playing **/

.now-playing__name {
    font-size: 1.5em;
    margin-bottom: 0.2em;
    position: relative;
    bottom: 180px;
    left: 135px;
    color: #16a84d;
}

.now-playing__artist {
    margin-bottom: 1em;
    position: relative;
    bottom: 185px;
    left: 135px;
    color: #16a84d;
}

.now-playing__status {
    margin-bottom: 1em;
    position: relative;
    left: 135px;
    bottom: 210px;
    color: #16a84d;
}

.now-playing__img {
    float: left;
    margin-right: 30px;
    text-align: right;
    width: 50%;
    position: relative;
    bottom: 180px;
    left: 150px;
}

.now-playing__img img {
    max-width: 80vmin;
    width: 100%;
}

.now-playing__side {
    margin-left: 5%;
    width: 45%;
}

.buttonContainer {
  position: absolute;
  top: 500px;
  left: 650px;
}

#button1 {
  position: relative;
  right: 200px;
  background-color: white; 
  color: #fc645c; 
  border: 2px solid #f44336;
}

#button2 {
    position: relative;
    left: 220px;
    background-color: white; 
    color: #fc645c; 
    border: 2px solid #f44336;
}

/** Progress **/

/*.progress {
    border: 1px solid #eee;
    height: 6px;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    left: 130px;
    bottom: 200 px;

}

.progress__bar {
    background-color: #eee;
    height: 4px;
}*/
